@model ExampleRazorTemplatesLibrary.Models.ExampleModel

<html>
<head>
</head>
<body>
    <div>Plain text: @Model?.PlainText</div>
    <div>ViewBag data: @ViewBag?.Value1</div>
    <div>ViewData data: @ViewData["Value2"]</div>
    @* IMPORTANT: the file name is case sensitive when using embedded resources *@
    @Html.Partial("_examplePartialView2.cshtml", Model)
</body>
</html>
