@model EmbeddedRazorTemplates.Models.ExampleModel
@{

    // Only set default if not already provided by caller
    // ViewBag and ViewData are the same dictionary internally and accessed by dot notation (no intellisense) or string key respectively
    // here we demonstrate both for clarity
    if (ViewBag.Value1 == null)
    {
        ViewBag.Value1 = "No ViewBag Value1 provided";
    }

    if (ViewData["Value2"] == null)
    {
        ViewData["Value2"] = "No ViewData Value2 provided";
    }
}
<html>
<head>
    <title>Embedded Resource Razor View from class library</title>
</head>
<body>
    <h1>Embedded Resource Razor View from class library</h1>
    <p>This is a normal class library with cshtml files as embedded resources</p>
    <div>Plain text: @Model.PlainText</div>
    <div>ViewBag data: @ViewBag?.Value1</div>
    <div>ViewData data: @ViewData["Value2"]</div>
    @await Html.PartialAsync("_ExamplePartialView.cshtml", Model)
</body>
</html>

