@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject ExampleRazorTemplatesLibrary.Services.ExampleConfigurationService ExampleConfigurationService

    <div class="text-center">
        <h1 class="display-4">Config from IConfiguration: @Configuration["SampleConfig"]</h1>
        <h1 class="display-4">Value from ExampleConfigurationService: @ExampleConfigurationService.GetConfigValue()</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
