@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="container-fluid p-3">
            @Body
            <footer class="d-flex justify-content-center p-3">
                Razor.Templating.Core
            </footer>
        </article>
       
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
