@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@Html.Label("FirstName", "First Name:", new { @class = "caption" })

<form asp-controller="Account" asp-action="Login"
      asp-route-returnurl=""
      method="post" class="form-horizontal" role="form">
</form>

<a asp-controller="Speaker"
   asp-action="Index">All Speakers</a>